<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Каталог авторов</title>
    <th:block th:insert="layout/page-layout.html :: page-head"></th:block>
</head>
<body style="padding-top: 0; padding-bottom: 0">
    <!-- фрагмент шапки -->
    <th:block th:replace="layout/page-layout.html :: page-header(page='author')"/>

    <!-- вёрстка с использованием bootstrap -->
    <div class="container text-center content">

    <!-- заголовок страницы -->
    <h1 style="margin: 30px">Каталог авторов</h1>

    <!-- вывод сообщения success message -->
    <th:block th:replace="layout/page-layout.html :: page-message"/>

    <!-- таблица: вывод списка авторов через цикл -->
    <table class="table table-bordered">
        <!-- заголовок таблицы -->
        <thead class="table-dark">
            <tr>
                <th class="text-center align-middle">Id</th>
                <th class="text-center align-middle">Фамилия</th>
                <th class="text-center align-middle">Имя</th>
                <th class="text-center align-middle">Отчество</th>
                <th class="text-center align-middle">Направление</th>
                <th sec:authorize="hasRole('ADMIN')" class="text-center align-middle">Действия</th>
            </tr>
        </thead>
        <!-- тело таблицы -->
        <tbody>
            <tr th:each="author: ${authors}">  <!-- вывод авторов в цикле -->
                <td>[[${author.id}]]</td>
                <td>[[${author.lastName}]]</td>
                <td>[[${author.firstName}]]</td>
                <td>[[${author.patronymic}]]</td>
                <td>[[${author.biography}]]</td>

                <!-- ячейка действия -->
                <td sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-danger" th:href="@{'/author/delete/' + ${author.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </a>
                    <a class="btn btn-primary" th:href="@{'/author/update/' + ${author.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </a>
                    <a class="btn btn-success" th:href="@{'/author/' + ${author.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

        <!-- кнопка перехода на добавление автора -->
        <div sec:authorize="hasRole('ADMIN')" class="row">
            <div class="col-6">
                <h4>
                    <a class="btn btn-success form-control" th:href="@{/author/new}">Добавить автора</a>
                </h4>
            </div>
            <div class="col-6">
                <div>
                    <a class="btn btn-dark form-control" th:href="@{/}">На главную</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Вставка фрагмента футера -->
    <th:block th:replace="layout/page-layout.html :: page-footer"/>
</body>
</html>